.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    margin-top: 88px;

    button {
        margin: 50px; 
        letter-spacing: 3px;  
        text-transform: uppercase;
    }
    
}