<div class="container" *ngIf="user">
  <div class="user-details col col-md-6">
    <p>Welcome,{{user.name}}!</p>
    <p>Registered email:{{user.email}}</p>
  </div>
  <div class="button-menu">
    <button class="addLib btn btn-primary-dark btn-lg btn-huge" [routerLink]= "['/user/edit']">Edit user info</button>
    <button class="addLib btn btn-primary-dark btn-lg btn-huge" [routerLink]= "['/libAdd']">Add a library</button>
    <button class="uxHome btn btn-primary-dark btn-lg btn-huge" [routerLink]= "['/uxHome']">Learn about the importance of UX</button>

    <button class="btn btn-outline-warning btn-lg" (click)="logout()">Log out</button>
  </div>
  <div *ngFor = "let library of libraries">
    <p>Library name: {{library.name}}</p>
    <button class="survey btn btn-primary-dark btn-lg btn-huge" [routerLink]= "['/survey', library._id]">Evaluate your library's webpage</button>
    <button class="survey btn btn-primary-dark btn-lg btn-huge" [routerLink]= "['/lib', library._id]">Looklibrary's webpage</button>
  </div>