.form-group {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 80px auto;
    background-color: rgba(145, 145, 145, 0.80);
    border-radius: 2%;
    box-shadow: -4px 4px 4px 1px rgba(194,188,194,1);

    .form-control {
        margin: 3% auto;
        width: 80%;
        
        label {
            margin: 0 auto;
            width: 40%;
            display: inline-flex;
            text-align: right;
        }
        input {
            margin: 0 1%;
            width: 56%
        }
    }    
}